.policyContainer {
    padding: 60px 15px;
    background-color: #f9fafc;
    color: #333;
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  .section h4 {
    font-weight: 600;
    margin-bottom: 10px;
    color: #134377; /* matches Scrapify brand tone */
  }
  
  .section p {
    line-height: 1.7;
  }
  